USE [master]
GO
/****** Object:  Database [DB58]    Script Date: 4/15/2019 10:09:48 AM ******/
CREATE DATABASE [DB58]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB58', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB58.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB58_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB58_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB58].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB58]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](13) NOT NULL,
	[PostTitle] [varchar](30) NOT NULL,
	[Salary] [money] NOT NULL,
	[JoiningDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Designat__BABD603E18A447E5] PRIMARY KEY CLUSTERED 
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[AGE] [int] NOT NULL,
	[Gender] [varchar](1) NOT NULL,
	[CNIC] [varchar](13) NOT NULL,
	[DOB] [date] NOT NULL,
	[Contact] [varchar](15) NOT NULL,
	[Postal_Address] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isApproved] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loan](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[LoanType] [varchar](30) NOT NULL,
	[InterestRate] [float] NOT NULL,
	[MaxAmount] [money] NOT NULL,
 CONSTRAINT [PK__Loan__4F5AD43762FCFE5C] PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoanApplication]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoanApplication](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[LoanID] [int] NOT NULL,
	[EmployeeID] [varchar](13) NOT NULL,
	[PrincipalAmount] [money] NOT NULL,
	[Verified] [bit] NOT NULL,
	[Reason] [varchar](600) NOT NULL,
	[AppliedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__LoanAppl__C93A4F798CE4E4EE] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoanDetails]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoanDetails](
	[LoanDetailID] [int] IDENTITY(1,1) NOT NULL,
	[LoanID] [int] NOT NULL,
	[Detail] [varchar](300) NOT NULL,
	[Category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoanStatus]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoanStatus](
	[LoanStatusID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[PrincipleAmount] [money] NOT NULL,
	[RemainingAmount] [money] NOT NULL,
	[Tenure] [datetime] NOT NULL,
	[isAccepted] [bit] NOT NULL,
	[RejectionReason] [varchar](250) NULL,
 CONSTRAINT [PK__LoanStat__922604A44E7327A8] PRIMARY KEY CLUSTERED 
(
	[LoanStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lookup]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lookup](
	[LookupID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](25) NOT NULL,
	[Category] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Login]    Script Date: 4/15/2019 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Login](
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[LoginTypeID] [int] NOT NULL,
	[UserID] [varchar](13) NOT NULL,
 CONSTRAINT [PK_tbl_Login] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Lookup] ON 

INSERT [dbo].[Lookup] ([LookupID], [Title], [Category]) VALUES (1, N'Policy', N'Loan_Category')
INSERT [dbo].[Lookup] ([LookupID], [Title], [Category]) VALUES (2, N'Condition', N'Loan_Category')
INSERT [dbo].[Lookup] ([LookupID], [Title], [Category]) VALUES (3, N'Eligibility', N'Loan_Category')
SET IDENTITY_INSERT [dbo].[Lookup] OFF
ALTER TABLE [dbo].[Designation] ADD  CONSTRAINT [DF__Designati__Joini__1DE57479]  DEFAULT (getdate()) FOR [JoiningDate]
GO
ALTER TABLE [dbo].[Designation] ADD  CONSTRAINT [DF__Designati__ToDat__1ED998B2]  DEFAULT (getdate()) FOR [EndDate]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_isActive]  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_isApproved]  DEFAULT ((0)) FOR [isApproved]
GO
ALTER TABLE [dbo].[LoanApplication] ADD  CONSTRAINT [DF__LoanAppli__Appli__21B6055D]  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[LoanStatus] ADD  CONSTRAINT [DF__LoanStatu__Tenur__22AA2996]  DEFAULT (getdate()) FOR [Tenure]
GO
ALTER TABLE [dbo].[LoanStatus] ADD  CONSTRAINT [DF_LoanStatus_isAccepted]  DEFAULT ((0)) FOR [isAccepted]
GO
ALTER TABLE [dbo].[Designation]  WITH CHECK ADD  CONSTRAINT [FK__Designati__Emplo__656C112C] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([CNIC])
GO
ALTER TABLE [dbo].[Designation] CHECK CONSTRAINT [FK__Designati__Emplo__656C112C]
GO
ALTER TABLE [dbo].[LoanApplication]  WITH CHECK ADD  CONSTRAINT [FK__LoanAppli__Emplo__24927208] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([CNIC])
GO
ALTER TABLE [dbo].[LoanApplication] CHECK CONSTRAINT [FK__LoanAppli__Emplo__24927208]
GO
ALTER TABLE [dbo].[LoanApplication]  WITH CHECK ADD  CONSTRAINT [FK__LoanAppli__LoanI__25869641] FOREIGN KEY([LoanID])
REFERENCES [dbo].[Loan] ([LoanID])
GO
ALTER TABLE [dbo].[LoanApplication] CHECK CONSTRAINT [FK__LoanAppli__LoanI__25869641]
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD FOREIGN KEY([Category])
REFERENCES [dbo].[Lookup] ([LookupID])
GO
ALTER TABLE [dbo].[LoanDetails]  WITH CHECK ADD  CONSTRAINT [FK__LoanDetai__LoanI__276EDEB3] FOREIGN KEY([LoanID])
REFERENCES [dbo].[Loan] ([LoanID])
GO
ALTER TABLE [dbo].[LoanDetails] CHECK CONSTRAINT [FK__LoanDetai__LoanI__276EDEB3]
GO
ALTER TABLE [dbo].[LoanStatus]  WITH CHECK ADD  CONSTRAINT [FK__LoanStatu__Appli__286302EC] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[LoanApplication] ([ApplicationID])
GO
ALTER TABLE [dbo].[LoanStatus] CHECK CONSTRAINT [FK__LoanStatu__Appli__286302EC]
GO
ALTER TABLE [dbo].[tbl_Login]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Login__Login__3B75D760] FOREIGN KEY([LoginTypeID])
REFERENCES [dbo].[Lookup] ([LookupID])
GO
ALTER TABLE [dbo].[tbl_Login] CHECK CONSTRAINT [FK__tbl_Login__Login__3B75D760]
GO
ALTER TABLE [dbo].[tbl_Login]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Login_Employee] FOREIGN KEY([UserID])
REFERENCES [dbo].[Employee] ([CNIC])
GO
ALTER TABLE [dbo].[tbl_Login] CHECK CONSTRAINT [FK_tbl_Login_Employee]
GO
USE [master]
GO
