
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from coderthemes.com/codefox/horizontal/page-starter.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Apr 2019 18:54:19 GMT -->
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>ELMS - Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/asset/images/favicon.ico">

    <!-- App css -->
    <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/asset/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/asset/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/asset/js/modernizr.min.js"></script>

</head>


<body>

    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main navbar m-b-0 b-0">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index-2.html" class="logo">
                        <img src="~/asset/images/logo.png" alt="" height="20">
                    </a>
                </div>
                <!-- End Logo container-->


                <div class="menu-extras">

                    <!-- Right(Notification) -->
                    <ul class="nav navbar-right list-inline">

                        
                        <li class="dropdown user-box list-inline-item">
                            <a href="#" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                                <img class="rounded-circle user-img" alt="" src="~/asset/images/icons/reading_ebook.svg" title="employee" />
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                <li><a href="javascript:void(0)" class="dropdown-item">Profile</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a onclick="Logout()" class="dropdown-item">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

            </div>
        </div>

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="/loanViews/Index"><i class="fi-air-play"></i> <span> Offered Loans </span> </a>
                        </li>


                        <li class="has-submenu">
                            <a href="/EnmployeeLoanApplications/Index"><i class="fi-briefcase"></i><span> Applied Loans </span> </a>
                        
                        </li>

                        <li class="has-submenu">
                            <a href="/EnmployeeLoanApplications/Verified"><i class="fi-layers"></i> <span> Verified Loans </span> </a>
                            
                        </li>

                        <li class="has-submenu">
                            <a href="/EnmployeeLoanApplications/Approved"><i class="fi-paper-stack"></i><span>Current Loans </span> </a>
                           
                        </li>
                        @*<li class="has-submenu">
                            <a href="#"><i class="fi-marquee-plus"></i><span>Extra Pages</span> </a>
                        </li>*@

                    </ul>
                    <!-- End navigation menu  -->
                </div>
            </div>
        </div>
    </header>
    <!-- End Navigation Bar-->


    <div class="wrapper">
        <div class="container-fluid">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        

                            <h4 class="page-title m-0">Welcome, @Session["EmployeeEmail"]</h4>


                    </div>

                </div>
            </div>
            <!-- end row -->

            <div>@RenderBody()</div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <ul class="float-right list-inline m-b-0 pull-none">
                            <li class="list-inline-item">
                                <a href="/Home/About">About</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/Home/Help">Help</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/Home/Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- end wrapper -->
    <!-- jQuery  -->
    <script src="~/asset/js/jquery.min.js"></script>
    <script src="~/asset/js/bootstrap.bundle.min.js"></script>
    <script src="~/asset/js/waves.js"></script>
    <script src="~/asset/js/jquery.slimscroll.js"></script>

    <!-- App js -->
    <script src="~/asset/js/jquery.core.js"></script>
    <script src="~/asset/js/jquery.app.js"></script>
    <script>
        function Logout() {
            window.location.href='@Url.Action( "Logout", "Account")'
        }
    </script>

</body>
</html>