
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title m-0">About Us</h4>
        </div>

    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="text-center">
                <h3 class="m-b-30 m-t-20">Serve and help employees in attaining better lifestyles </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen book. It has survived not only five centuries, but also
                    the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>

            <div class="m-t-50 p-t-10">
                <h4 class="text-uppercase">Our Services</h4>
                <div class="border m-b-30"></div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="about-features-box text-center p-4 p-4">
                            <div class="feature-icon bg-primary mb-4">
                                <i class="dripicons-broadcast"></i>
                            </div>
                            <h4 class="mb-3">Strategy Solutions</h4>

                            <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error a type specimen book.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="about-features-box text-center p-4 p-4">
                            <div class="feature-icon bg-info mb-4">
                                <i class="dripicons-brightness-medium"></i>
                            </div>
                            <h4 class="mb-3">Dedicated Support</h4>

                            <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error a type specimen book.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="about-features-box text-center p-4">
                            <div class="feature-icon bg-purple mb-4">
                                <i class="dripicons-clock"></i>
                            </div>
                            <h4 class="mb-3">Digital Design</h4>

                            <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="about-features-box text-center p-4">
                            <div class="feature-icon bg-custom mb-4">
                                <i class="dripicons-graph-pie"></i>
                            </div>
                            <h4 class="mb-3">Strategy Solutions</h4>

                            <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error a type specimen book.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="about-features-box text-center p-4">
                            <div class="feature-icon bg-muted mb-4">
                                <i class="dripicons-jewel"></i>
                            </div>
                            <h4 class="mb-3">Dedicated Support</h4>

                            <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error a type specimen book.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="about-features-box text-center p-4">
                            <div class="feature-icon bg-success mb-4">
                                <i class="dripicons-pamphlet"></i>
                            </div>
                            <h4 class="mb-3">Digital Design</h4>

                            <p class="text-muted">We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end services -->
        <div class="clearfix"></div>

        </div> <!-- end p-20 -->
    </div> <!-- end col -->
</div>
<!-- end row -->

