@model WebApplication3.Models.LoginViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Account.cshtml";
}

@if (ViewBag.Status == true)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="account-content">
        <div class="text-center m-b-20">
            <p class="text-muted m-b-0">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
        </div>
        <form class="form-horizontal" action="#">

            <div class="form-group">
                <div class="col-12">
                    <label for="emailaddress">Email address</label>
                    <input name="Email" class="form-control" type="email" id="emailaddress" required=""
                           placeholder="john.deo@email.com">
                </div>
            </div>

            <div class="form-group account-btn text-center m-t-10">
                <div class="col-12">
                    <button class="btn w-lg btn-rounded btn-lg btn-primary waves-effect waves-light" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
}

    <div class="row m-t-50">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Remember your passowrd?  <a href="/Account/Login" class="text-dark m-l-5">Sign In</a></p>
        </div>
    </div>
